<article id="<%= @project.code %>">
  <header>
    <h1><%= raw "#{@project.code} &ndash; #{@project.title}" %></h1>
    <p>
    <strong>Set by</strong>
    <%= @project.supervisor_name %>
    ( <!-- TODO: make this a link to the profile page -->
      <a href="mailto:<%= @project.supervisor_email %>">
        <%= @project.supervisor_email %>
      </a>
    ),
    <%= @project.research_centre_name %>
    (
    <%= @project.research_centre_code %>
    ).
    </p>
  </header>
  <section class='project_desciption'>
    <p>
      <strong>Status</strong>: <%= @project.status %>
    </p>
    <h2>
      Description
    </h2>
      <%= raw @project.description %>
    </section>
    <footer>
      <%= link_to "Back to projects", projects_path + "##{@project.code}" %>
    </footer>
</article>